{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg mb-2" href="/tips/ci/circleci-bash/" role="button">{{ i18n "tips" }}</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Data.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col">
          <h2>About me</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="mt-1">
          <p>I'm a polyglot developer with engineering skills and mindset. I've got 9 years of commercial development experience. I specialize in backend development with Scala (microservices, distributed apps, databases, monitoring, CI/CD)<br><a href="javascript:void(0)" onclick="this.classList.add('hiding'); document.querySelector('#about-more-info').classList.remove('hiding')">Expand...</a></p>
          <div id="about-more-info" class="hiding">
          <p>Languages: Scala, Java, also JS, Python, Ruby, C++, PHP, Bash.</p>
          <p>I use modern, powerful and simple tools that help me keep things maintainable. I don't hesitate to write tests, documentation, and like to automate what is possible. Important aspects of my work are compatibility maintenance, algorithmic correctness and efficiency, code duplication minimization.</p>
          <p>My experience includes back-end, front-end, mobile, game, algorithm, cloud, network development, video/image/audio/text processing, building distributed and real-time systems, and some ML / data science / AI / RL.</p>
          <p>Domains I’ve worked with: telecommunication, e-commerce, finances, IoT, advertising.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-sm-4">
          <h6 class="mt-2"><a href="mailto:m.sahabudinov+cotips@gmail.com" target="_blank">Email</a></h6>
        </div>
        <div class="col-sm-4">
          <h6 class="mt-2"><a href="https://www.linkedin.com/in/marat-sahabudinov/" target="_blank">LinkedIn</a></h6>
        </div>
        <div class="col-sm-4">
          <h6 class="mt-2"><a href="https://github.com/drywet" target="_blank">GitHub</a></h6>
        </div>
        <div class="col-sm-4">
          <h6 class="mt-2"><a href="https://docs.google.com/document/d/1QKHin6hM8uXHZvDdaTwmvCPPRNTqIb6U99UL-P0BmA8/edit?usp=sharing" target="_blank">CV</a></h6>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-md pt-2 bg-light">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col">
          <h2>Technologies</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="mt-2" style="font-family: monospace; font-size: 90%">
          <p>Scala: Play Framework, Finagle, Akka, Cats, circe, MacWire, Monix, macros, scalameta, kryo, gatling, ReactiveMongo, doobie, Slick, Hazelcast, Lift Web, json4s, spray, scalaxb/soap</p>
          <p>Java: Spring, Netty, Undertow, Tomcat, RxJava, JDBC, Hibernate, liquibase, JSF, Websockets, JavaCPP</p>
          <p>JS: Node.js, Socket.io, WebRTC, MediaSource API, Three.js, jQuery, bootstrap, flexbox</p>
          <p>Python: NumPy, Matplotlib, lxml</p>
          <p>Ruby: Administrate, OAuth, Okta</p>
          <p>Bash: bash, zsh</p>
          <p>DB: Postgres, MySQL, Oracle, MongoDB, Elasticsearch, Lucene, Kibana, Redis, Druid, Couchbase</p>
          <p>CI: CircleCI, Terraform, Jenkins, Kubernetes, Helm, ArgoCD, Docker</p>
          <p>AWS: EC2, Lambda, ECS, S3, SQS, KMS, VPC, IAM</p>
          <p>Protocols: TCP/IP, UDP, DNS, gRPC, protobuf</p>
          <p>Data processing: Kafka, Apache Spark, Apache Beam, RabbitMQ, ZeroMQ</p>
          <p>Monitoring: Prometheus, Grafana, Datadog</p>
          <p>Extras: Hugo, FFmpeg, Android, Reverse engineering</p>
          <p>... any new tech that solves a problem</p>
          <!-- <div><canvas id="technologies-chart"></canvas></div> -->
        </div>
      </div>
    </div>
  </section>
  <section class="section section-md pt-2">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col">
          <h2>Projects</h2>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <p class="fs-4 mt-4">⚙️</p>
          <h4 class="mt-0">CI tool for SFCC developers</h4>
          <p>Automatic creation of dev sandboxes and version control of configurations.</p>
        </div>
        <div class="col-lg-5">
          <p class="fs-4 mt-4">🔎</p>
          <h4 class="mt-0">Search engine for a store</h4>
          <ul class="text-start" style="list-style: circle">
            <li>Scala search backend + Elasticsearch</li>
            <li>Ruby admin dashboard</li>
            <li>Python search quality testing script.</li>
          </ul>
        </div>
        <div class="col-lg-5">
          <p class="fs-4 mt-4">📹💬</p>
          <h4 class="mt-0">A videochat</h4>
          <ul class="text-start" style="list-style: circle">
            <li>Improving traffic routing microservices</li>
            <li>migration of some services to Kubernetes</li>
            <li>creation of a unique-user-count custom metric for Prometheus, and Grafana dashboards.</li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <p class="fs-4 mt-4">🔃</p>
          <h4 class="mt-0">Ad management service</h4>
          <p>Microsoft Bing Ads integration. Refactoring, redesign and data migration</p>
        </div>
        <div class="col-lg-5">
          <p class="fs-4 mt-4">📈</p>
          <h4 class="mt-0">A financial service</h4>
          <ul class="text-start" style="list-style: circle">
            <li>Newsfeed aggregation</li>
            <li>migration to Akka HTTP API and to protobuf for storing cache data</li>
            <li>implementation of business logic</li>
          </ul>
        </div>
        <div class="col-lg-5">
          <p class="fs-4 mt-4">🔗</p>
          <h4 class="mt-0">Peer-to-peer proxy</h4>
          <p>Implementation from scratch with Node.js and WebRTC</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h4>... and other</h4>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-16">
          <h4 class="mt-5"><a href="mailto:m.sahabudinov+cotips@gmail.com" target="_blank">Contact me</a> if you want to cooperate 📝👨‍💻</h4>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Data.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Data.doks.docsVersioning }}{{ site.Data.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
